.wrapper {
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  transition: opacity 500ms ease-in-out;
}
