@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import url("normalize.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #757575;
}

header, main, footer {
    flex-shrink: 0;
}



#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
