
.formItem {
  width: 100%;
  margin: 0 0 45px;
  position: relative;
  flex-shrink: 0;
}

.formItemBar {
  width: 100%;
  height: 1px;
  background: #7d7d7d7c;
  transition: 0.1s all;
}

.label {
  color: #7d7d7d7c;
  position: absolute;
  top: 2px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 14px;
  font-weight: 500;
}

.input{
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;
}

.input:focus{
  outline: none;
}

.input:focus + .label,
.textarea:focus + .label {
  top: -16px;
  font-size: 13px;
  color: #ff7626;
}

.input:not(:placeholder-shown) + .label{
  top: -16px;
  font-size: 13px;
  color: #ff7626;
}

.input:focus ~ .formItemBar{
  background: #ff7626;
}

.required{
  color: red;
  padding: 0 3px;
}