$break-small: 650px;
$break-medium: 1024px;

@keyframes loader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  animation: loader 1s ease;
  background-color: #f0f0f0;
  flex-grow: 1;
  position: relative;
}

.inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 -20px;
  justify-content: space-between;
}

.loaderIcon {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.loaderIcon:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgb(244, 118, 43);
  border-color: rgb(244, 118, 43) transparent rgb(244, 118, 43) transparent;
  animation: loaderIcon 1.2s linear infinite;
}
@keyframes loaderIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
