@keyframes loader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper{
   animation: loader .5s ease;
  background-color: #F0F0F0;
  flex-grow: 1;
}

.container{
  max-width: 1100px;
  width: 90vw;
  margin: 0 auto;
}

.inner {

  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  justify-content: space-between;
}

